<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./checkbox.css">
</head>
<body>
    <section>
        <div class="createContainer">
            <input class="createInput" type="text" placeholder="Напишите новую задачу ">
            <button class="createButtom">Добавить</button>
        </div>
    <div class="toDoContainer">
        <div class="toDo item">
            <div class="header1">
                <label class="checkboxCont">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить сумку</h4>
            </div>
            <div class="footer1">
                <p>17.01.2021 <span>17:12</span></p>
                <div class="buttoms">
                    <img src="./img/star.icon.png" >
                    <img src="./img/64022.png" >
                </div>
            </div>
        </div>

        <div class="toDo marked">
            <div class="header1">
                <label class="checkboxCont">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить сумку</h4>
            </div>
            <div class="footer1">
                <p>17.01.2021 <span>17:12</span></p>
                <div class="buttoms">
                    <img src="./img/star+icon.png" >
                    <img src="./img/64022.png" >
                </div>
            </div>
        </div>

        <div class="toDo done">
            <div class="header1">
                <label class="checkboxCont">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить сумку</h4>
            </div>
            <div class="footer1">
                <p>17.01.2021 <span>17:12</span></p>
                <div class="buttoms">
                    <img src="./img/star.icon.png" >
                    <img src="./img/64022.png" >
                </div>
            </div>
        </div>

        <div class="toDo marked">
            <div class="header1">
                <label class="checkboxCont">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить сумку</h4>
            </div>
            <div class="footer1">
                <p>17.01.2021 <span>17:12</span></p>
                <div class="buttoms">
                    <img src="./img/star+icon.png" >
                    <img src="./img/64022.png" >
                </div>
            </div>
        </div>

        <div class="toDo item">
            <div class="header1">
                <label class="checkboxCont">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить сумку</h4>
            </div>
            <div class="footer1">
                <p>17.01.2021 <span>17:12</span></p>
                <div class="buttoms">
                    <img src="./img/star.icon.png" >
                    <img src="./img/64022.png" >
                </div>
            </div>
        </div>

        <div class="toDo done">
            <div class="header1">
                <label class="checkboxCont">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>Купить сумку</h4>
            </div>
            <div class="footer1">
                <p>17.01.2021 <span>17:12</span></p>
                <div class="buttoms">
                    <img src="./img/star.icon.png" >
                    <img src="./img/64022.png" >
                </div>
            </div>
        </div>
    </div>
    </section>

    <script src="./script.js"></script>
</body>
</html>